.hero {
  padding: var(--space-7) var(--space-5);
  background: var(--color-neutral-200);
  text-align: center;
}
.hero h1 {
  font-size: 2.5rem;
  margin-bottom: var(--space-3);
}
.hero p {
  font-size: 1.25rem;
  margin: 0 auto;
  max-width: 40rem;
}
